.cart-area {
    padding: 50px 0;
    h2 {
        font-size: 32px;
        margin-bottom: 15px;
        color: var(--color-black-1);
        .empty-msg {
            max-width: 600px;
            text-align: center;
            color: var(--theme-secondary);
            font-size: 50px;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .btn {
                width: 100%;
                max-width: 200px;
                justify-content: center;
            }
        }
    }
    .cart-table {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        margin: 1rem 0;
        border-radius: 4px;
        &::-webkit-scrollbar {
            height: 8px;
        }
        &::-webkit-scrollbar-thumb {
            background-color: rgba(0, 0, 0, 0.2);
            border-radius: 4px;
        }
        .rounded-table {
            border-collapse: separate;
            border-spacing: 0;
            border-radius: 4px;
            overflow: hidden;
            border-left: 1px solid var(--color-gray-6);
            border-right: 1px solid var(--color-gray-6);
            thead {
                background-color: rgba(0, 0, 0, 6%);
                th {
                    border-top: none;
                    border-top: 1px solid var(--color-gray-6);
                    vertical-align: middle;
                    padding-top: 0.75rem;
                    padding-bottom: 0.75rem;
                    &:first-child {
                        border-top-left-radius: 4px;
                        border-left: none;
                    }
                    &:last-child {
                        border-top-right-radius: 4px;
                        border-right: none;
                    }
                }
            }
            tbody tr {
                .img-cell {
                    padding: 0.5rem 1rem;
                    min-width: 150px;
                    img {
                        max-height: 90px;
                        max-width: 100%;
                        height: auto;
                        display: block;
                        margin: 0 auto;
                    }
                }
                .title-cell {
                    min-width: 250px;
                    white-space: normal;
                }
                .text-cell {
                    min-width: 150px;
                }
                td,
                th {
                    border-top: 1px solid var(--color-gray-6);
                    border-bottom: 1px solid var(--color-gray-6);
                    vertical-align: middle;
                    padding-top: 0.75rem;
                    padding-bottom: 0.75rem;
                    color: var(--body-color);
                }
                td {
                    a {
                        color: var(--body-color);
                        &:hover {
                            color: var(--theme-secondary);
                        }
                    }
                }
                &:last-child {
                    td,
                    th {
                        border-bottom: 1px solid var(--color-gray-6);
                    }
                    td:first-child {
                        border-bottom-left-radius: 4px;
                        border-left: none;
                    }
                    td:last-child {
                        border-bottom-right-radius: 4px;
                        border-right: none;
                        text-align: center;
                    }
                }
            }
            td,
            th {
                border-left: 1px solid var(--color-gray-6);
                border-right: 1px solid var(--color-gray-6);
                &:first-child {
                    border-left: none;
                }
                &:last-child {
                    border-right: none;
                }
            }
        }
    }
    .cart-btn-box {
        display: flex;
        gap: 20px;
        justify-content: end;
        .clear-btn {
            width: 100%;
            max-width: 350px;
            justify-content: center;
            padding: 15px 0;
            color: var(--theme-secondary);
            &:hover {
                color: var(--color-white-default);
                &::before {
                    background: var(--theme-secondary);
                }
            }
        }
        .checkout-btn {
            width: 100%;
            max-width: 350px;
            justify-content: center;
            padding: 15px 0;
            background-color: var(--theme-secondary);
            color: var(--color-white-default);
            &:hover {
                color: var(--color-white-default);
                &::before {
                    background: var(--theme-primary);
                }
            }
        }
    }
    .cart-total {
        position: relative;
        padding: 40px;
        margin: 70px 0 30px;
        border-radius: 10px;
        box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 15%);
        color: var(--color-black-1);
        .cart-title {
            position: relative;
            line-height: 1;
            &::after {
                display: block;
                content: "";
                position: absolute;
                height: 2px;
                background-color: var(--color-gray-5);
                width: 70%;
                top: 40%;
                right: 0;
            }
        }
        .pr-total,
        .shipping {
            padding: 30px 0;
        }
        .grand-total {
            padding: 30px 0 0;
        }
    }
}